td.dt-body-center{
    text-align: center;
}
td.not-editable{
    background: #ececec;
}
.table td, .table th{
    padding: 0.25rem;
}
.table.dataTable{
    border-collapse: collapse !important;
}
.st-border-bottom{
    border-bottom: 3px solid #000;
}
.competitors label{
    height: 60px;
    display: table-cell;
    vertical-align: middle;
}
.name-container{
    position: relative;
}
.field-button{
    margin-left: -40px;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
}
#local-name{
    padding-right: 35px !important;
}
.table.dataTable td i.coef-edit {
    margin: 0.5em;
    opacity: 0.3;
    float: right;
    cursor: pointer;
}
.info-container {
    font-size: 14px;
    margin: 10px 0;
}

.price-con #set_price_to_limit{
    float: left;
    position: relative;
    top: 6px;
    margin-right: 10px;
}

.notification-con{
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

.nav-sidebar .nav-link p{
    white-space: nowrap;
}

.nav-link{
    padding: 0.5rem;
}

.editable-input textarea{
    width: 690px !important;
}

.fa-question-circle{
    cursor: pointer;
}

.table-container{
    display: block;
    width: 100%;
}

.table-container .table{
    overflow: auto;
    display: block;
}

.table-container.competitors .table td:nth-child(2),
.table-container.competitors .table td:nth-child(3),
.table-container.competitors .table td:nth-child(4){
    color: #ccc;
}

.filter.input select.filter-select{
    float: left;
    display: list-item;
    margin: 0;
    width: 45px;
    padding: 5px;
}

.filter.input input{
    width: calc(100% - 50px) !important;
    float: left;
    margin-left: 5px;
    display: list-item;
}

.ui-front {
    z-index: 99999;
}

.dt-select-full select {
    width: 100%;
}

@media (max-width: 575.98px) {
    .save-setting{
        margin-top: 10px;
    }
    .editable-input textarea{
        width: auto !important;
    }
}

@media (max-width: 767.98px) {
    .editable-input textarea{
        width: auto !important;
    }
}

@media (max-width: 991.98px) {
    .editable-input textarea{
        width: auto !important;
    }
}


@media (max-width: 1199.98px) {
    .editable-input textarea{
        width: auto !important;
    }
}
